body {
  min-width: 300px;
}

menu {
  list-style-type: none;
}

@media screen and (min-width: 639px) {
  .btn-jumbo {
    min-width: 10em;
  }
}

@media screen and (min-width: 450px) and (max-width: 638px) {
  .btn-jumbo {
    width: auto;
  }
}

@media screen and (max-width: 449px) {
  .btn-jumbo {
    margin-top: 5px;
    width: 100%;
  }

  .col-def {
    width: 100%;
  }
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
