menu {
    list-style-type: none;
}

.btn-jumbo {
	width: 10em;
}

.btn-facebook {
  color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)
}

.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook {
  color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)
}
