.nodes {
	background-color: #eee;
	display: inline-block;
	width: 400px;
	height: auto !important;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	cursor: move;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.inputcontainer {
	display: inline-block;
}

#text {
	width: 300px;
}

.sidebar-controls {
	width: 110px;
	height: 50px;
	margin: 10px;
	background-color: #E7E7E7;
	border: 1px solid #D6D6D6;
	cursor: pointer;
	position: relative;
	text-align: center;
	border-radius: 5px;
}

.xmark {
	position: absolute;
	top: 5px;
	right: 5px;
	color: black;
	cursor: pointer;
}

#nodecontainer {
	margin: 120px 0 0 0;
	width: 100%;
	min-height: 100%;
}

.dropdown-size {
	max-height: 90vh;
	overflow: auto;
}

#cy {
	height: 400px;
	width: 400px;
	position: absolute;
	left: 0;
	top: 100px;
}

.nodebar {
	padding-right: 10px;
	margin-top: -20px;
	position: relative;
	width: 150px;
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
	overflow: auto;
	height: calc(100vh - 52px);
	height: -o-calc(100vh - 52px);
	height: -webkit-calc(100vh - 52px);
	height: -moz-calc(100vh - 52px);
}

.node {
	width: 110px;
	height: 100px;
	margin: 10px;
	background-color: #E7E7E7;
	border: 1px solid #D6D6D6;
	cursor: pointer;
	position: relative;
  border-radius: 5px;
}

.node .node-id {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	left: 10px;
}

.side-bar-text {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.side-bar-id-container {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
	font-size: 2em;
	z-index: 3;
}

.side-bar-id {
	background-color: rgba(238,238,238, .75);
  border: 5px solid rgba(238,238,238, .1);
  border-radius: 5px;
  position: relative;
  z-index: 3;
}

.side-bar-thumbnail-container {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 5px;
}

.side-bar-thumbnail {
	min-width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
  filter: blur(1px);
  -webkit-filter: blur(1px)
}

.selected-node {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 400px;
	height: auto;
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
	text-align: center;
	padding: 10px;
}

#hide-nodebar {
	position: absolute;
	left: 150px;
	top: 50%;
	width: 50px;
	height: 50px;
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	cursor: pointer;
}

#hide-nodebar #arrow {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.to-index#sign-out {
	bottom: 55px;
}

.to-index#show-graph {
	bottom: 100px;
}

.to-index#update-graph {
	bottom: 145px;
}


.graph {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 500px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
}

.nodebar-xmark {
	left: 97px;
	top: -10px;
	background-color: #E7E7E7;
	border: 1px solid #D6D6D6;
	border-radius: 50%;
	padding: 3px;
	z-index: 5;
}