.nodes {
	background-color: #eee;
	display: inline-block;
	width: 400px;
	/*height: 280px;*/
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	cursor: move;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.inputcontainer {
	display: inline-block;
}

#text {
	width: 300px;
}

.xmark {
	position: absolute;
	top: 5px;
	right: 5px;
	color: black;
	cursor: pointer;
}

#nodecontainer {
	margin: 120px 0 0 0;
	width: 100%;
	min-height: 100%;
}

.dropdown-size {
	max-height: 90vh;
	overflow: auto;
}

#cy {
	height: 400px;
	width: 400px;
	position: absolute;
	left: 0;
	top: 100px;
}