.nodes {
	background-color: #eee;
	display: inline-block;
	width: 400px;
	height: auto !important;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	cursor: move;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.inputcontainer {
	display: inline-block;
}

#text {
	width: 300px;
}

.xmark {
	position: absolute;
	top: 5px;
	right: 5px;
	color: black;
	cursor: pointer;
}

#nodecontainer {
	margin: 120px 0 0 0;
	width: 100%;
	min-height: 100%;
}

.dropdown-size {
	max-height: 90vh;
	overflow: auto;
}

#cy {
	height: 400px;
	width: 400px;
	position: absolute;
	left: 0;
	top: 100px;
}

.nodebar {
	margin-top: -20px;
	position: relative;
	width: 150px;
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
	overflow: auto;
	height: calc(100vh - 52px);
	height: -o-calc(100vh - 52px);
	height: -webkit-calc(100vh - 52px);
	height: -moz-calc(100vh - 52px);
}

.node {
	width: 130px;
	height: 50px;
	margin: 10px;
	background-color: #E7E7E7;
	border: 1px solid #D6D6D6;
	cursor: pointer;
}

.node .node-id {
	line-height: 50px;
	margin-left: 5px;
}

.selected-node {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 400px;
	height: auto;
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
	text-align: center;
	padding: 10px;
}

#hide-nodebar {
	position: absolute;
	left: 150px;
	top: 50%;
	width: 50px;
	height: 50px;
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	cursor: pointer;
}

#hide-nodebar #arrow {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.to-index#sign-out {
	bottom: 55px;
}

.to-index#show-graph {
	bottom: 100px;
}

.to-index#update-graph {
	bottom: 145px;
}


.graph {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 500px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
}

.node-xmark {
	top: 5px;
	right: 5px;
}