.nodes {
	background-color: #eee;
	display: inline-block;
	width: 400px;
	height: 280px;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	cursor: move;
	top: 70px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.waysid {
	display: block;
	width: 100%;
}

#ids {
	width: 17%;
	margin: 0;
}

.waystext {
	display: block;
	width: 100%;
}

#texts {
	width: 81.5%;
}

.inputcontainer {
	display: inline-block;
}

#warning {
	position: absolute;
	left: 200px;
	top: 200px;
	color: red;
}

#text {
	width: 300px;
}

