.btn-move {
	max-width: 100%;
	white-space: normal;
	word-wrap: break-word;
}

.quests {
	max-width: 20vw;
	min-width: 200px;
	max-height: 75vh;
	min-height: 300px;
	background-color: #eee;
	display: inline-block;
	margin: 2px;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
}

/*.quests a {
	color: black;
	text-decoration: none;
}*/

.a-container {
	width: 100%;
	height: 100%;
}

.main-img-container {
	top: 0px;
	margin: 0;
	padding: 0;
	max-height: 150px;
	overflow: hidden;
}

.main-img {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.add-img {
	margin: 0;
	padding: 0;
	max-width: 150px;
}

.title {
	margin: 0px;
	padding: 0px;
	top: 0px;
	background-color: rgba(238,238,238, .75);
	border: 5px solid rgba(238,238,238, .1);
	border-radius: 5px;
	-webkit-transform: translateY(-60%);
	transform: translateY(-60%);
	display: inline-block;
	max-width: 100%;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.quests:nth-of-type(n+13) {
	display: none;
}

.to-index#sign-out {
	bottom: 55px;
}

.xmark-viewer {
  position: relative;
	color: black;
	cursor: pointer;
	background-color: rgba(238,238,238, .75);
	border: 5px solid rgba(238,238,238, .1);
	border-radius: 14px;
}

.xmark-viewer:hover {
	background-color: rgba(238,238,238, 2);
	border: 5px solid rgba(238,238,238, 3);
}

.xmark-viewer:hover.edit:after{content:'edit';}
.xmark-viewer:hover.delete:after{content:'delete';}
.xmark-viewer:hover.publish:after{content:'publish';}
.xmark-viewer:hover.unpublish:after{content:'unpublish';}

.quest-controls {
  position: absolute;
  padding: 5px;
  top: 0px;
  right: 0px;
}

.cursor-pointer {
	cursor: pointer;
}

#main {
  text-align: center;
}

#modal-remove {
  position: fixed;
  z-index: 9999;
  background-color: #E7E7E7;
  width: 200px;
  height: 100px;
  left: 50%;
  top: 50%;
  display: none;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.rating{
  color: #aaa;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #555;
}

.rating .mouseover {
  color: black;
}

.rating .rated {
  color: black;
}

.author-link {
  color: #aaa;
}

.author-link:hover {
  color: #555;
}


.quest-footer {
  position: absolute;
  width: 100%;
  height: 45px;
  bottom: 10px;
}

.quest-footer-author {
  width: 100%;
  position: absolute;
  text-align:center;
  top: 0;
  font-style: italic; 
}

.quest-footer-views {
  position: absolute;
  padding-left: 10px;
  bottom: 0;
  left: 0;
}

.star-rating {
  position: absolute;
  padding-right: 10px;
  bottom: 0;
  right: 0;
}


