img {
	max-width: 50%;
	max-height: 50%;
	margin: 10px 0 10px 0;
}

.btn-move {
	max-width: 100%;
	white-space: normal;
	word-wrap: break-word;
}

.quests {
	max-width: 28vw;
	max-height: 50vh;
	background-color: #eee;
	display: inline-block;
	margin: 2px;
	overflow: auto;
}

.quests a {
	color: black;
	text-decoration: none;
}

.a-container {
	width: 100%;
	height: 100%;
}

.a-container .title {
	display: block;
}
