<div class="jumbotron">
	<div class="container">
		<h1>{{welcomeMessage}}</h1>
		<p>Best place to create and play visual novels</p>
		<div>
		  <a class="btn btn-primary btn-lg btn-jumbo" href="#maker">Create</a>
		  <a class="btn btn-primary btn-lg btn-jumbo" href="#viewer">Play</a>
		  <a class="btn btn-facebook btn-lg btn-jumbo" href="#" ng-click="login()" ng-hide="isAuthorized">Sign in with Facebook</a>
		  <a href="#" class="btn btn-primary btn-lg btn-jumbo" ng-show="isAuthorized" ng-click="logout()">Sign out</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-6 col-def">
			<h2>
				What is interactive fiction
			</h2>
			<p>
				Interactive fiction, often abbreviated IF,
				is software simulating environments in which players
				use text commands to control characters and influence
				the environment. Works in this form can be understood
				as literary narratives and as video games. In common usage,
				the term refers to text adventures, a type
				of video game where the entire interface can be "text-only".
			</p>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6 col-def">
			<h2>
				What is visual novel
			</h2>
			<p>
				A visual novel (ビジュアルノベル) is an interactive fiction game,
				featuring mostly static graphics, most often using anime-style 
				art or occasionally live-action stills (and sometimes video footage).
				As the name might suggest, they resemble mixed-media novels.
			</p>
		</div>	
	</div>
</div>
