<link rel="stylesheet" href="css/maker.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.4.0/cytoscape.min.js"></script>
<div id="maker">
	<div class="nodebar">
		<div class="sidebar-controls">
			<i class="fa fa-tag"></i> Title: <input ng-model="_q.title" type="text" class="form-control">
		</div>
		<div class="sidebar-controls">
			<i class="fa fa-file-o"></i> Description: <input ng-model="_q.descr" type="text" class="form-control">
		</div>
		<div class="sidebar-controls">
			<i class="fa fa-image"></i> Image: <input ng-model="_q.image" type="text" class="form-control">
		</div>
		<div class="sidebar-controls" ng-click="saveToServer()">
			<span class="side-bar-text"><i class="fa fa-floppy-o"></i> Save</span>
		</div>
		<div class="sidebar-controls" ng-click="publish()" ng-hide="_q.is_public">
			<span class="side-bar-text"><i class="fa fa-cloud-upload"></i> Publish</span>
		</div>
		<div class="sidebar-controls" ng-click="unpublish()" ng-show="_q.is_public">
			<span class="side-bar-text"><i class="fa fa-cloud-download"></i> Unpublish</span>
		</div>
		<div class="node" ng-repeat="node in _q.nodes  | filter: notRemoved" ng-click="selectNode(node.id)">
			<span class="glyphicon glyphicon-remove nodebar-xmark" ng-click="remove(node.id)"></span>
			<div class="side-bar-id-container"><span class="side-bar-id" ng-bind="node.id"></span></div>
			<div class="side-bar-thumbnail-container">
				<img class="side-bar-thumbnail" ng-src="{{ node.imagesrc }}" ng-show="node.image">
			</div>
		</div>
		<div class="sidebar-controls" ng-click="add()">
			<span class="side-bar-text"><i class="fa fa-plus"></i> New node</span>
		</div>	
	</div>
	<!-- SELECTED NODE -->
	<div class="selected-node" ng-show="selectedNode">
		<h1>
			<span class="node-id">{{ selectedNode.id }}</span>
			<!--span class="glyphicon glyphicon-remove remove-button" ng-click="remove(selectedNode.id)"></span-->
		</h1>
		<div class="input-group">
			<span class="input-group-addon">Text</span>
			<input ng-model="selectedNode.text" class="form-control">
		</div>
		<div class="row margin-top margin-bottom" ng-show="selectedNode.ways && selectedNode.ways.length > 0">
			<span class="col-md-3">Path ID</span>
			<span class="col-md-7">Path label</span>
		</div>
		<div class="row" ng-repeat="i in  _.range(selectedNode.ways_ids.length)">
			<div class="col-xs-3 col-left">
				<select class="form-control" ng-model="selectedNode.ways_ids[i]">
					<option ng-repeat="node in _q.nodes | filter: notRemoved">{{ node.id }}</option>
				</select>
			</div>
			<div class="col-xs-6 col-middle">
				<input ng-model="selectedNode.ways[i]" class="form-control">
			</div>
			<div class="col-xs-3 col-right">
			  <div class="btn btn-default remove-way " ng-click="removeWay(selectedNode.id, i)"><i class="fa fa-times"></i> Remove path</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 col-left"></div>
			<div class="col-xs-6 col-middle"></div>
			<div class="col-xs-3 col-right">
				<div class="btn btn-default remove-way " ng-click="addWay(selectedNode.id)"><i class="fa fa-plus"> Add path</i></div>
			</div>
		</div>
		<div class="form-inline">
			<div class="margin-top"><input type="checkbox" ng-model="selectedNode.image"> Image </div>
			<input ng-model="selectedNode.imagesrc" class="form-control" type="text" ng-show="selectedNode.image">
			<img ng-src="{{ selectedNode.imagesrc }}" ng-show="selectedNode.image" class="selected-thumbnail">
			<br/>
			<div class="checkbox">
				<label>
					<input ng-model="selectedNode.final" type="checkbox"> Final
				</label>
			</div>
			<br/>
			<div class="btn btn-default margin-top" ng-click="remove(selectedNode.id)"><i class="fa fa-times"></i> Delete node</div>
		</div>
	</div>
	<!-- GRAPH -->
	<div class="graph" id="graph-container">
	</div>
</div>
