<div id="maker">
	<script src="js/maker.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.4.0/cytoscape.min.js"></script>
	<div class="nodebar">
		<div class="sidebar-controls">
			Title: <input ng-model="_q.title" type="text" class="form-control">
		</div>
		<div class="sidebar-controls">
			Description: <input ng-model="_q.descr" type="text" class="form-control">
		</div>
		<div class="sidebar-controls">
			Image: <input ng-model="_q.image" type="text" class="form-control">
		</div>
		<div class="sidebar-controls" ng-click="saveToServer()">Save</div>
		<div class="sidebar-controls" id="show-graph">Show nodes graph</div>
		<div class="sidebar-controls" id="update-graph" class="btn btn-default" ng-click="renewGraph()">Update graph</div>

		<div class="node" ng-repeat="node in _q.nodes  | filter: notRemoved" ng-click="selectNode(node.id)">
			<span class="glyphicon glyphicon-remove nodebar-xmark" ng-click="remove(node.id)"></span>
			<span class="node-id" ng-bind="node.id"></span>
		</div>
		<div class="sidebar-controls" ng-click="add()">
			<span class="node-id">add new node</span>
		</div>	
	</div>
	<div id="hide-nodebar">
		<span id="arrow">hide</span>
	</div>
	<!-- SELECTED NODE -->
	<div class="selected-node" ng-show="selectedNode">
	  <span class="glyphicon glyphicon-remove" ng-click="remove(selectedNode.id)"></span>
		<span class="node-id">{{ selectedNode.id }}</span>
		<div class="input-group">
			<span class="input-group-addon">Text</span>
			<input ng-model="selectedNode.text" class="form-control">
		</div>
		<div class="row">
			<span class="col-md-3">Way id</span>
			<span class="col-md-9">Way text</span>
		</div>
		<div class="row" ng-repeat="i in  _.range(selectedNode.ways_ids.length)">
			<div class="col-md-3">
				<select class="form-control" ng-model="selectedNode.ways_ids[i]">
					<option ng-repeat="node in _q.nodes | filter: notRemoved">{{ node.id }}</option>
				</select>
			</div>
			<div class="col-md-9">
				<input ng-model="selectedNode.ways[i]" class="form-control">
			</div>
		</div>
		<div class="btn btn-default" ng-click="addWay(selectedNode.id)">Add new way</div>
		<div class="form-inline">
			<label><input type="checkbox" ng-model="selectedNode.image"> Image</label>
			<input ng-model="selectedNode.imagesrc" class="form-control" type="text" ng-show="selectedNode.image">
			<img ng-src="{{ selectedNode.imagesrc }}" ng-show="selectedNode.image" style="max-width: 100px; max-height: 100px;"></img>
		</div>
		<div class="checkbox">
			<label>
				<input ng-model="selectedNode.final" type="checkbox"> Final
			</label>
		</div>
	</div>
	<!-- GRAPH -->
	<div class="graph" id="graph-container">
	</div>
</div>
