<link rel="stylesheet" href="css/player.css">
<div class="container text-center">
  <div class="node" ng-show="loaded">
    <img class="player-image" ng-src="{{node.imagesrc}}" ng-show="node.image">
    <h3 class="pagination-centered" ng-bind="node.text"></h2>
    <div class="ways">
      <div ng-repeat="i in _.range(node.ways_ids.length)" ng-show="node.ways_ids[i]" class="btn btn-default btn-move cursor-pointer" ng-click="moveTo(node.ways_ids[i])" ng-bind="wayText(i)"></div>
      <div ng-click="finish()" ng-show="node.final" class="btn btn-default btn-move cursor-pointer">Continue</div>
    </div>

    <div class="controls">
      <div class="btn btn-default btn-move btn-xs cursor-pointer" ng-click="restart()">Reset</div>
      <div class="btn btn-default btn-move btn-xs cursor-pointer" ng-click="saveAndQuit()">Save and quit</div>
    </div>
  </div>


  <div class="congrats" ng-show="isCongrats">
    <h1>Thank you for playing “{{quest.title || 'Untitled'}}”!</h1>
    <img class="player-image" ng-src="{{quest.image}}" ng-show="hasImage(quest)">
    <div ng-show="isAuthorized">Please rate: <div class="star-rating" star-rater rating="rate.$value" rate="toggleRate"></div></div>

    <div class="controls">
      <div class="btn btn-default btn-move cursor-pointer" ng-click="restart()">Restart</div>
      <div class="btn btn-default btn-move cursor-pointer" ng-click="quit()">Quit</div>
    </div>
  </div>
</div>
