<!DOCTYPE html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="js/controller.js"></script>
		<title>v0.0.0.0.0.0.4</title>
	</head>
	<body>
		<div ng-app="ngApp" ng-controller="creatorController" class="container text-center">
			<h1>SUPER QUEST MAKER</h1>
				<h3>Current node id: {{ selectedNodeId }}</h3>
				<h4><textarea ng-model="user_text" placeholder="Text"></textarea>
				<h4>
					<input ng-model="buttons[0]" type="text" placeholder="First button">
					<input ng-model="buttons_dest[0]" type="number" min="0" placeholder="First button destination">
				</h4>
				<h4>
					<input ng-model="buttons[1]" type="text" placeholder="Second button">
					<input ng-model="buttons_dest[1]" type="number" min="0" placeholder="Second button destination">
				</h4>
				<h4>
					<input ng-model="buttons[2]" type="text" placeholder="Third button">
					<input ng-model="buttons_dest[2]" type="number" min="0" placeholder="Third button destination">
				</h4>
				<h4>
					<input ng-model="buttons[3]" type="text" placeholder="Fourth button">
					<input ng-model="buttons_dest[3]" type="number" min="0" placeholder="Fourth button destination">
				</h4>
				<h4><input ng-model="isNodeFinal" type="checkbox">Final node</h4>
			<div>
				<a href="#" class="btn btn-default" ng-click="add()">Add this node</a>
			</div>
			<a href="#" class="btn btn-default btn-large" ng-click="generate()">Generate quest</a>
			<div>
				<input ng-model="fileName" type="text" placeholder="Download as">
				<a href="#" class="btn btn-default btn-large" ng-click="save()">Download quest</a>
			</div>
			<input onClick="this.select();" ng-model="result" readonly placeholder="Result">
			<h4>Try your quest <a href="qv.html">there</a></hr>
		</div>
	</body>
</html>
