.container {
	background-color: #37a692;
	text-align: center;
	height: 500px;
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -250px 0 0 -250px;
}

#text {
	padding-top: 3px;
	height: 330px;
	overflow: auto;
}

.button {
	width: 120px;
}

#buttonsBlock {
	text-align: center;
	position: relative;
	top: 10 px;	
}

body {
	background-image: url("bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
}

#counter {
	position:relative;
	top: 10px;
}
