.container {
	background-color: #ddd;
	text-align: center;
	height: 400px;
	width: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -200px 0 0 -200px;

	border: 4px double #aaa;
}

#text {
	padding-top: 3px;
	height: 330px;
	overflow: auto;
}

.button {
	width: 100px;
}

#buttonsBlock {
	text-align: center;
	position: relative;
	top: 10 px;	
}
