<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="qmStyle.css">
	
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="qvController.js"></script>
	<title>v0.0.0.0.0.0.3-1</title>
</head>

<div ng-app="ngApp" ng-controller="contentController">
	<div class="container">
		<p id="title" ng-hide="hideStart">
			SUPER QUEST VIEWER<br/>
			<span ng-show="startError"><strong>SOMETHING WENT WRONG</strong><br/></span>
		</p>
		<p id="text" ng-show="showText">{{ json.text }}</p>
		<div id = "buttonsBlock">
				<div class="controlButtons" ng-show="showControlButtons">
					<button type="button" ng-click="buttonClick(0)" class="button">{{ json.first }}</button>
					<button type="button" ng-click="buttonClick(1)" class="button" ng-hide="hideSecondButton">{{ json.second }}</button>
					<button type="button" ng-click="buttonClick(2)" class="button" ng-hide="hideThirdButton">{{ json.third }}</button>
					<button type="button" ng-click="buttonClick(3)" class="button" ng-hide="hideFourthButton">{{ json.fourth }}</button>
				</div>
				<button type="button" ng-click="restart()" ng-show="showRestartButton" class="button">restart</button>
				<div ng-hide="hideStart">
					<p>
						Type your quest in JSON: <input ng-model="str_quest" type="text" name="Quest">
						<button type="button" ng-click="custom(str)" style="width: 34px; padding-left: 0;">run</button>
					</p>
					Or try default quests:
					<button type="button" ng-click="start(0)" class="button">short quest</button>
					<button type="button" ng-click="start(1)" class="button">long quest</button>
				</div>
		</div>
	</div>
</div>


</body>
</html>
