<!DOCTYPE html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/viewer.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.0/alertify.min.js"></script>
		<link rel="stylesheet" href="css/alertify.css">
		<script src="js/controller.js"></script>
		<title>v0.0.0.0.0.0.4</title>
	</head>
	<body>
		<div ng-app="ngApp" ng-controller="viewerController" class="container text-center">
			<div ng-hide="hideStart">
				<h1>SUPER QUEST VIEWER</h1>
				<h4><span ng-show="startError">SOMETHING WENT WRONG</span>
				<div ng-repeat="quest in quests" class="quests">
					<a href="#" ng-click="saved(quest.$value)">
						<div class="a-container">
							<span class="title">{{ getValue(quest.$value, 'title') || 'untitled' }}</span>
							<img ng-src="{{ getValue(quest.$value, 'image') || 'http://upload.wikimedia.org/wikipedia/commons/6/69/Wikipetan_Visual_Novel_Kor.png' }}">
							<p>{{ getValue(quest.$value, 'descr') || 'This quest have no description' }}</p>
							<p></p>
						</div>
					</a>
					
				</div>
			</div>
			<h2 ng-show="showText" class="pagination-centered" ng-bind="node.text"></h2>
			<div ng-show="showControlButtons">
				<a href="#" ng-repeat="i in _.range(node.ways_ids.length)" ng-show="node.ways_ids[i]" class="btn btn-default btn-move" ng-click="buttonClick(i)" onClick="this.blur();" ng-bind="node.ways[i]"></a>
			</div>
			<img ng-src="{{ node.imagesrc }}" ng-show="node.image"></img>
			<div>
				<a href="#" class="btn btn-default" ng-click="exit()" ng-show="showRestartButton">exit</a>
				<a href="#" class="btn btn-default" ng-click="restart()" ng-show="showRestartButton">restart</a>
			</div>
		</div>
	</body>
</html>
