<link rel="stylesheet" href="css/viewer.css">
<div id="modal-remove">
  <div id="modal-content">
    <span>Are you sure?</span>
    <div class="btn-group" style="margin-top: 20px;">
      <div class="btn btn-default" ng-click="commit()">Delete</div>
      <div class="btn btn-default" ng-click="cancel()">Cancel</div>
    </div>
  </div>
</div>
<div class="container text-center">
	<div ng-hide="hideStart" class="panels">
		<div ng-click="newQuest()" class="cursor-pointer quest" ng-show="isActive('/user/' + authData.uid)">
      <div class="quest-container cursor-pointer">
        <h2 class="invisible-title">New novel</h2>
        <i class="fa fa-plus big-plus"></i>
      </div>
    </div>


  	<div ng-repeat="quest in allQuests | orderBy: questOrder | filter: questFilter" class="quest">
			<div class="quest-controls" ng-show="isMyQuest(quest)">
				<i class="fa fa-cloud-upload xmark-viewer publish" ng-hide="quest.is_public" ng-click="publish(quest)"></i>
				<i class="fa fa-cloud-download xmark-viewer unpublish" ng-show="quest.is_public" ng-click="unpublish(quest)"></i>
				<i class="fa fa-edit edit xmark-viewer" ng-click="editQuest(quest.$id)"></i>
        <i class="fa fa-times delete xmark-viewer" ng-click="remove(quest)"></i>
			</div>
			<div class="quest-container cursor-pointer" ng-click="go('play/' + quest.$id)">
        <div class="quest-features"> 
  				<div class="quest-descr">{{ quest.descr || 'This visual novel have no description' }}</div>
  				<div class="quest-footer">
  					<div class="quest-footer-author">by  <a ng-href="#/user/{{quest.uid}}" class="author-link">{{getAuthor(quest)}}</a></div>
  					<div class="quest-footer-views pull-left">{{ 'Views: ' + getViews(quest) }}</div>
  					<div class="star-rating pull-right" star-rating quest="quest" get-rating="getRating" ratings-object="ratingsObject"></div>
  				</div>
        </div>
        <img class="quest-img" ng-src="{{ quest.image|| 'http://upload.wikimedia.org/wikipedia/commons/6/69/Wikipetan_Visual_Novel_Kor.png' }}">
        <h2 class="quest-title">{{ quest.title || 'untitled' }}</h2>
			</div>
		</div>
  </div>
</div>